<!DOCTYPE html>

<html lang="ro">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="css/stil.css" >



<head>
        <title>PW</title>
</head>


<body>
    <header>
        <br>
      <h1>Welcome to "World Of Toys" Website!</h1> 
      <h2>We are happy to see you here.From now, you are a World of Toys friend!</h2>
    </header>

    <nav>
        <div class="nav-left">
          <a id="link" href="/">Acasă</a> &nbsp;&nbsp;&nbsp;
          <a id="link" href="/chestionar">Chestionar</a> &nbsp;&nbsp;&nbsp;
  
        </div>
        
      </nav>
  
      <main id="continut">
          <%- body -%>
  
      </main>
      <footer>
        &#169;WorldOfToys.2021
      </footer>


   
  </body>
</html>
