<section>
    <h1>Punctaj Chestionar</h1>
    <p>Felicitari, ati terminat de completat chestionarul! Ați obținut urmatorul punctaj: <%= rezultat %> puncte. </p>
    <p><%= rezultat %> raspunsuri corecte/ <%= total %></p>
</section>