<body>
    <section>
        <h1> Autentificare utilzator </h1>
        <p><span style='color:red'><%= eroare %></span></p>

        <form method="POST" action="/verificare-autentificare">
            <label for="user">Utilizator:</label><br>
            <input type="text" id="user" name="user"><br><br>


            <label for="password">Parola:</label><br>
            <input type="password" id="password" name="password"><br><br>

            <input type="submit" value="Autentificare">
        </form>



    </section>

</body>
