<!DOCTYPE html>

<html lang="ro">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<link rel="stylesheet" type="text/css" href="css/stil.css" >
<script type="text/javascript" src="script.js"></script>


<head>
        <title>PW</title>
</head>


<body>
    <header>
        <br>
      <h1>Inchirieri Auto - Rent A Car </h1> 
      <h2></h2>
    </header>

    <nav>
      <div class="nav-left">
        <a id="link" href="/">Acasă</a> &nbsp;&nbsp;&nbsp;
        

      </div>
      
  </nav>
  
      <main id="continut">
          <%- body -%>
  
      </main>
      <footer>
        &#169;RentACar.2021
      </footer>


   
  </body>
</html>